---
import Layout from '../layouts/Layout.astro';
import TypeformRetro from '../components/TypeformRetro.astro';
import CelestialStars from '../components/CelestialStars.astro';
---

<Layout title="JOIN THE RESISTANCE">
	<CelestialStars />
	<main class="main-container">
		<TypeformRetro />
	</main>
</Layout>

<style>
	.main-container {
		min-height: 100vh;
		/* Background handled by CelestialStars */
		position: relative;
		z-index: 1;
	}
</style>
